<!-- <kendo-card class="container justify-content-center align-items-center m-10 " >
    <h1 class="text-center">404 Not Found</h1>
    <p class="text-center">Sorry, the page you are looking for does not exist.</p>
    <button routerLink="/"  kendoButton themeColor="primary" fillMode="outline">Go to Home</button>
</kendo-card> -->
<kendo-card class="k-card k-card-lg" style="max-width: 600px; width: 60%; margin: 100px auto;">
    <div class="k-card-header text-center">
      <h1 class="display-4">404 Not Found</h1>
    </div>
    <div class="k-card-body text-center">
      <p>Sorry, the page you are looking for does not exist.</p>
      <button routerLink="/" kendoButton themeColor="primary" fillMode="outline">Go to Home</button>

    </div>

  </kendo-card>
  